openapi: 3.1.0
info:
  title: PhotosByElie Owner API
  version: 1.5.0
  description: >
    Versioned cloud boundary used by PhotosByElie Backstage on an enrolled Mac.
    Google browser login is provisioning-only. Owner.sqlite and Apple Photos
    remain behind the Mac connector; this API authorizes and audits opaque
    actions rather than exposing local persistence directly.
servers:
  - url: https://auth.photos-by-elie.com/api/v1
security:
  - ownerSession: []
tags:
  - name: Authentication
  - name: PBE Owner Session
  - name: Actions
  - name: Connectors
  - name: Access
  - name: Sidecar
  - name: Delivery
  - name: Campaign Videos
paths:
  /health:
    get:
      security: []
      operationId: getHealth
      responses:
        "200":
          description: Service health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /auth/session:
    get:
      tags: [Authentication]
      operationId: getAuthSession
      responses:
        "200":
          description: Current signed session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Error"
  /auth/google/login:
    get:
      tags: [Authentication]
      operationId: beginGoogleLogin
      parameters:
        - in: query
          name: returnTo
          schema: { type: string, format: uri }
      responses:
        "302":
          description: Google OAuth redirect
  /auth/tokens:
    post:
      tags: [Authentication]
      security: []
      operationId: createOwnerTokens
      description: >
        Issues a short-lived Backstage bearer token. Backstage re-presents its
        Keychain device credential whenever another token is needed; no
        long-lived browser or refresh credential is issued.
        The request must include an enrolled device id and its show-once
        credential; a browser Google session is not sufficient.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId: { type: string }
                deviceCredential: { type: string, writeOnly: true }
      responses:
        "201":
          description: Short-lived native Owner token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OwnerTokenBundle" }
        "401":
          $ref: "#/components/responses/Error"
  /auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      responses:
        "200":
          description: Signed out
  /devices:
    get:
      tags: [Authentication]
      security:
        - googleProvisioningSession: []
        - ownerSession: []
      operationId: listOwnerDevices
      description: Available to the direct Owner provisioning identity or a verified active Backstage device session.
      responses:
        "200":
          description: Enrolled native Owner devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items: { $ref: "#/components/schemas/OwnerDevice" }
    post:
      tags: [Authentication]
      security: [{ googleProvisioningSession: [] }]
      operationId: enrollOwnerDevice
      description: Returns a show-once credential only to ec92009@gmail.com.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                platform: { type: string }
      responses:
        "201":
          description: Device enrollment; the credential is returned once
          content:
            application/json:
              schema:
                type: object
                properties:
                  device: { $ref: "#/components/schemas/OwnerDevice" }
                  deviceCredential: { type: string, writeOnly: true }
  /devices/{deviceId}/revoke:
    parameters:
      - in: path
        name: deviceId
        required: true
        schema: { type: string }
    post:
      tags: [Authentication]
      security:
        - googleProvisioningSession: []
        - ownerSession: []
      operationId: revokeOwnerDevice
      responses:
        "200":
          description: Device revoked; subsequent access-token minting is denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  device: { $ref: "#/components/schemas/OwnerDevice" }
        "404":
          $ref: "#/components/responses/Error"
  /enrollment-handoffs:
    post:
      tags: [Authentication]
      security: []
      operationId: beginOwnerEnrollmentHandoff
      description: >
        Starts a five-minute native-led enrollment. The browser authorization
        URL contains only the handoff id; the independent claim secret and
        device binding remain in Backstage memory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, platform, binding]
              properties:
                name: { type: string }
                platform: { type: string }
                binding: { type: string, writeOnly: true }
      responses:
        "201":
          description: Pending native enrollment handoff
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  handoff: { $ref: "#/components/schemas/OwnerEnrollmentHandoff" }
  /enrollment-handoffs/{handoffId}/claim:
    parameters:
      - in: path
        name: handoffId
        required: true
        schema: { type: string }
    post:
      tags: [Authentication]
      security: []
      operationId: claimOwnerEnrollmentHandoff
      description: >
        Polls or atomically consumes the authorized handoff. The show-once
        device credential is returned only to the bound native claimant.
      responses:
        "202": { description: Awaiting browser authorization }
        "201":
          description: Handoff consumed and device enrolled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OwnerEnrollmentClaim" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "410": { $ref: "#/components/responses/Error" }
  /enrollment-handoffs/{handoffId}/cancel:
    parameters:
      - in: path
        name: handoffId
        required: true
        schema: { type: string }
    post:
      tags: [Authentication]
      security: []
      operationId: cancelOwnerEnrollmentHandoff
      description: Cancels a pending or authorized native enrollment handoff using its native binding and claim secret.
      responses:
        "200": { description: Handoff cancelled }
        "409": { $ref: "#/components/responses/Error" }
  /owner/session:
    get:
      tags: [Authentication]
      security:
        - googleProvisioningSession: []
        - ownerSession: []
      operationId: getOwnerSession
      responses:
        "200":
          description: Owner identity and capabilities
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "403":
          $ref: "#/components/responses/Error"
  /pbe-owner/sessions:
    post:
      tags: [PBE Owner Session]
      operationId: createPBEOwnerSession
      description: >
        Mints a five-minute, fixture-frozen hosted PBE Owner session. Requires
        an active enrolled Backstage device bearer and exact local readiness
        identities. Ordinary Google browser sessions are rejected.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PBEOwnerSessionCreate" }
      responses:
        "201":
          description: Short-lived hosted PBE session; sessionToken is never a device credential
          content:
            application/json:
              schema:
                type: object
                required: [ok, session, sessionToken]
                properties:
                  ok: { type: boolean }
                  session: { $ref: "#/components/schemas/PBEOwnerSession" }
                  sessionToken: { type: string, writeOnly: true }
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
  /pbe-owner/session:
    get:
      tags: [PBE Owner Session]
      security: [{ pbeOwnerSession: [] }]
      operationId: getPBEOwnerSession
      description: Revalidates signature, device, state, expiry, and every frozen identity binding.
      responses:
        "200":
          description: Active hosted PBE Owner session
          content:
            application/json:
              schema:
                type: object
                required: [ok, session]
                properties:
                  ok: { type: boolean }
                  session: { $ref: "#/components/schemas/PBEOwnerSession" }
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
  /pbe-owner/sessions/{sessionId}/close:
    parameters:
      - in: path
        name: sessionId
        required: true
        schema: { type: string }
    post:
      tags: [PBE Owner Session]
      security: [{ pbeOwnerSession: [] }]
      operationId: closePBEOwnerSession
      description: Closes only the exact session represented by the bearer.
      responses:
        "200":
          description: Closed hosted PBE Owner session
          content:
            application/json:
              schema:
                type: object
                required: [ok, session]
                properties:
                  ok: { type: boolean }
                  session: { $ref: "#/components/schemas/PBEOwnerSession" }
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
  /actions:
    get:
      tags: [Actions]
      operationId: listActions
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - in: query
          name: state
          schema: { $ref: "#/components/schemas/ActionState" }
        - in: query
          name: target
          schema: { type: string }
        - in: query
          name: actionKind
          schema: { type: string }
      responses:
        "200":
          description: Owner action page
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items: { $ref: "#/components/schemas/OwnerAction" }
                  page: { $ref: "#/components/schemas/Page" }
    post:
      tags: [Actions]
      operationId: createAction
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ActionCreate" }
      responses:
        "202":
          description: Action queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  action: { $ref: "#/components/schemas/OwnerAction" }
        "200":
          description: Existing action replayed for the idempotency key
        "400":
          $ref: "#/components/responses/Error"
  /actions/{actionId}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
    get:
      tags: [Actions]
      operationId: getAction
      responses:
        "200":
          description: Owner action
          content:
            application/json:
              schema:
                type: object
                properties:
                  action: { $ref: "#/components/schemas/OwnerAction" }
        "404":
          $ref: "#/components/responses/Error"
  /actions/{actionId}/{transition}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
      - in: path
        name: transition
        required: true
        schema:
          type: string
          enum: [claim, complete, fail, cancel]
    post:
      tags: [Actions]
      operationId: transitionAction
      description: >
        Owner cancellation is accepted only while an action is queued.
        Connectors cannot cancel actions, and claimed work must reach a
        completed or failed terminal state.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Updated action
  /connectors:
    get:
      tags: [Connectors]
      operationId: listConnectors
      responses:
        "200":
          description: Connector summaries
  /connectors/heartbeat:
    post:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: heartbeatConnector
      responses:
        "200":
          description: Heartbeat accepted
  /connectors/actions:
    get:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: listConnectorActions
      parameters:
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Claimable actions for this connector
  /connectors/actions/{actionId}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
    get:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: getConnectorAction
      responses:
        "200":
          description: Exact connector action
  /connectors/actions/{actionId}/{transition}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
      - in: path
        name: transition
        required: true
        schema:
          type: string
          enum: [claim, complete, fail]
    post:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: transitionConnectorAction
      responses:
        "200":
          description: Updated connector action
  /acs/state:
    get:
      tags: [Access]
      operationId: getAccessState
      responses:
        "200":
          description: People, groups, assignments, roles, fixtures, and audit
  /acs/gallery-access:
    get:
      tags: [Access]
      operationId: getGalleryAccess
      responses:
        "200":
          description: Effective gallery access
  /acs/people:
    post:
      tags: [Access]
      operationId: savePerson
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved person and effective access
  /acs/people/{personId}/disable:
    parameters:
      - in: path
        name: personId
        required: true
        schema: { type: string }
    post:
      tags: [Access]
      operationId: disablePerson
      responses:
        "200":
          description: Disabled person
  /acs/groups:
    post:
      tags: [Access]
      operationId: saveGroup
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved group and effective access
  /acs/groups/{groupId}/archive:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string }
    post:
      tags: [Access]
      operationId: archiveGroup
      responses:
        "200":
          description: Archived group
  /lifecycle/reconcile:
    post:
      tags: [Sidecar]
      operationId: reconcileLifecycleManifest
      security: [{ connectorCredential: [] }]
      description: >
        Connector-only exact extend-only manifest reconciliation. With
        prepareOnly true, performs no writes and returns a bounded public-preview
        registration plan for 1-20 explicitly supplied canonical identities.
        Each identity must specify only expo/{canonicalMediaId}_900.jpg and
        expo/{canonicalMediaId}_1800.jpg in the public bucket. Preparation is
        limited to 64 KiB and returns no unrelated or private object bindings.
        A stable repairId recovers the original envelope after a lost apply
        response. Preparation is not publication approval or proof of R2 bytes.
        Before applying, the connector must independently verify current Owner
        approval, source revision, public fixture policy and exact R2 bytes.
        Persist the returned envelope, then submit it unchanged without
        prepareOnly (or with false) to apply. A conflicting identity, binding,
        denial, or stale activation must never be overwritten or bypassed.
        Legacy apply requests remain limited to 100 members, 400 bindings and
        1 MiB. actorId is always taken from the authenticated connector, never
        from caller JSON. An applied receipt is not a current visibility grant;
        verify lifecycle, deployed catalog and public bytes separately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repairId, items]
              properties:
                prepareOnly: { type: boolean, default: false }
                repairId: { type: string, minLength: 1 }
                items:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [canonicalAssetId, canonicalMediaId, bindings]
                    properties:
                      canonicalAssetId: { type: string }
                      canonicalMediaId: { type: string }
                      bindings:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          required: [bucket, objectKey]
                          properties:
                            bucket: { type: string }
                            objectKey: { type: string }
              additionalProperties: true
      responses:
        "200":
          description: Preparation returns schema photosbyelie.publicPreviewRegistrationPlan.v1, readOnly true, state prepared or applied and an exact envelope; apply returns a durable reconciliation receipt. Cache-Control and CDN-Cache-Control no-store.
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "413":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /lifecycle/public-previews/verify:
    post:
      tags: [Sidecar]
      operationId: verifyPublicPreviews
      security: [{ ownerSession: [] }, { connectorCredential: [] }]
      description: >
        Read-only single-snapshot lifecycle and binding observations for 1-20
        exact canonical asset/media identities, each with its public Expo
        900/1800 JPEG pair. Maximum request size 64 KiB. Does not register media,
        return private bindings, inspect object bytes, or attest local source
        versions. Native consumers must bind current approved upload receipts
        and independently checksum the public preview bytes and catalog. The
        observation expires after five minutes and is never a download grant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items:
                    type: object
                    required: [canonicalAssetId, canonicalMediaId, bindings]
                    properties:
                      canonicalAssetId: { type: string, maxLength: 256 }
                      canonicalMediaId: { type: string, maxLength: 256 }
                      bindings:
                        type: array
                        minItems: 2
                        maxItems: 2
                        items:
                          type: object
                          required: [bucket, objectKey]
                          properties:
                            bucket: { const: public }
                            objectKey: { type: string, pattern: '^expo/[a-zA-Z0-9._-]+_(900|1800)\.jpg$' }
      responses:
        "200":
          description: Exact requested identities and bindings with allowed/reason/revision/receiptId, checkedAt and expiresAt; schema photosbyelie.publicPreviewObservation.v1; readOnly true; Cache-Control no-store
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "413":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /sidecar/decisions/query:
    post:
      tags: [Sidecar]
      operationId: querySidecarDecisions
      responses:
        "200":
          description: Decision page
  /sidecar/decisions/apply:
    post:
      tags: [Sidecar]
      operationId: applySidecarDecision
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Applied decision
  /sidecar/decisions/apply-batch:
    post:
      tags: [Sidecar]
      operationId: applySidecarDecisionBatch
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Applied decisions
  /real-estate/originals/preflight:
    post:
      tags: [Delivery]
      security:
        - realEstateSession: []
        - ownerSession: []
      operationId: preflightRealEstateOriginals
      description: >
        Checks selected private originals using either the authenticated Real
        Estate gallery session or a Backstage Owner Bearer session. This
        read-only operation creates no download tokens, order records, email,
        or client message. Owner Bearer authorization applies only to this
        preflight and does not authorize download-session creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [galleryKey, items]
              properties:
                galleryKey: { type: string }
                items:
                  type: array
                  minItems: 1
                  maxItems: 300
                  items:
                    type: object
                    required: [photoId, albumSlug]
                    properties:
                      photoId: { type: string }
                      albumSlug: { type: string }
                      sourceFile: { type: string }
                      title: { type: string }
                      sortIndex: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Read-only availability report
          content:
            application/json:
              schema:
                type: object
                required: [preflight]
                properties:
                  preflight:
                    type: object
                    required: [schemaVersion, mode, ok, galleryKey, requestedCount, availableCount, missingCount, items]
                    properties:
                      schemaVersion: { type: integer, enum: [1] }
                      command: { type: string }
                      mode: { type: string, enum: [read-only] }
                      checkedAt: { type: string, format: date-time }
                      ok: { type: boolean }
                      galleryKey: { type: string }
                      requestedCount: { type: integer }
                      availableCount: { type: integer }
                      missingCount: { type: integer }
                      totalBytes: { type: integer }
                      message: { type: string }
                      items:
                        type: array
                        items:
                          type: object
                          required: [photoId, name, contentType, available]
                          properties:
                            photoId: { type: string }
                            name: { type: string }
                            contentType: { type: string }
                            available: { type: boolean }
                            bytes: { type: [integer, "null"] }
        "401":
          $ref: "#/components/responses/Error"
  /deliverables:
    post:
      tags: [Delivery]
      operationId: saveDeliverable
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Saved deliverable
  /deliverables/list:
    post:
      tags: [Delivery]
      operationId: listDeliverables
      responses:
        "200":
          description: Deliverables visible to the session
  /deliverables/{deliverableId}/{action}:
    parameters:
      - in: path
        name: deliverableId
        required: true
        schema: { type: string }
      - in: path
        name: action
        required: true
        schema:
          type: string
          enum: [view, download, complete, fail]
    get:
      tags: [Delivery]
      operationId: getDeliverableAsset
      responses:
        "200":
          description: Streamed deliverable asset
    post:
      tags: [Delivery]
      operationId: transitionDeliverable
      responses:
        "200":
          description: Updated deliverable
  /delivery-links:
    post:
      tags: [Delivery]
      operationId: createDeliveryLinks
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Opaque share links
  /jobs:
    post:
      tags: [Delivery]
      operationId: submitRenderJob
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Render job queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { $ref: "#/components/schemas/Job" }
  /jobs/{jobId}:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: string }
    get:
      tags: [Delivery]
      operationId: getRenderJob
      responses:
        "200":
          description: Render job and progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { $ref: "#/components/schemas/Job" }
  /campaign-videos/{slug}:
    parameters:
      - $ref: "#/components/parameters/CampaignVideoSlug"
    post:
      tags: [Campaign Videos]
      security: [{ connectorCredential: [] }]
      operationId: reserveCampaignVideo
      description: >
        Source-only PBE-215 route, disabled until explicitly activated. Reserves
        an immutable approved derivative declaration (16 KiB actual UTF-8 cap).
        Only enrolled native connectors; browser Origin, fetch metadata and
        cookies are rejected. Same declaration replays; changed slug/queue
        bindings conflict. No original paths or arbitrary R2 keys accepted.
        Current public SQLite bytes are bounded and fetched per check; no
        bundled catalog or positive eligibility cache. Stale origin is 503;
        a changed catalog digest within the request is 409. Hosting remains
        disabled pending freshness and public-host review.
        See campaign-video-hosting.md for the canonical digest definition.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignVideoBinding" }
      responses:
        "200":
          description: Reserved or already stored, with current eligibility checked
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignVideoReceipt" }
        default:
          $ref: "#/components/responses/Error"
    get:
      tags: [Campaign Videos]
      security: [{ connectorCredential: [] }]
      operationId: getCampaignVideo
      description: >
        Read-only exact declaration/R2/current eligibility reconciliation.
        404 means no declaration. 200 reserved/absent means no object at fresh
        R2 HEAD. Conflicting object metadata is 409, never absent. A later denied
        component is 410; unknown/unavailable authority is 503. No listing API.
        Catalog SHA-256 and live D1 denial fences are checked across the request.
      responses:
        "200":
          description: Current immutable binding and object state, no-store
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignVideoReceipt" }
        default:
          $ref: "#/components/responses/Error"
  /campaign-videos/{slug}/content:
    parameters:
      - $ref: "#/components/parameters/CampaignVideoSlug"
    put:
      tags: [Campaign Videos]
      security: [{ connectorCredential: [] }]
      operationId: uploadCampaignVideo
      description: >
        Conditional immutable creation only, up to 64 MiB. Streams and checks
        MP4 signature, exact length and SHA-256 before R2 commit. Stores only a
        derivative under a server-chosen private-bucket prefix. Reconcile GET
        before retrying an unconfirmed transport result; never overwrite.
        Fresh catalog and D1 checks run before upload and again after source EOF,
        before releasing the final byte that permits R2 commit.
      parameters:
        - in: header
          name: Content-Length
          required: true
          schema: { type: integer, minimum: 12, maximum: 67108864 }
        - in: header
          name: X-PBE-Binding-SHA256
          required: true
          schema: { $ref: "#/components/schemas/CampaignVideoHash" }
        - in: header
          name: X-PBE-Video-SHA256
          required: true
          schema: { $ref: "#/components/schemas/CampaignVideoHash" }
      requestBody:
        required: true
        content:
          video/mp4:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: Exact R2 object verified and component eligibility rechecked
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignVideoReceipt" }
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    ownerSession:
      type: http
      scheme: bearer
      bearerFormat: PBE signed Backstage device session
    pbeOwnerSession:
      type: http
      scheme: bearer
      bearerFormat: PBE short-lived fixture-frozen session
    googleProvisioningSession:
      type: apiKey
      in: cookie
      name: pbe_google_session
      description: Direct Google browser session; only ec92009@gmail.com may manage Backstage credentials.
    connectorCredential:
      type: http
      scheme: bearer
      bearerFormat: PBE connector credential
    realEstateSession:
      type: apiKey
      in: cookie
      name: pbe_re_session
  parameters:
    CampaignVideoSlug:
      in: path
      name: slug
      required: true
      schema:
        type: string
        pattern: '^native-[a-z0-9]+(?:-[a-z0-9]+)*$'
        maxLength: 120
    ActionId:
      in: path
      name: actionId
      required: true
      schema: { type: string }
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Cursor:
      in: query
      name: cursor
      schema: { type: string }
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 160
  responses:
    Error:
      description: Structured API error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    CampaignVideoHash:
      type: string
      pattern: '^[a-f0-9]{64}$'
    CampaignVideoBinding:
      type: object
      additionalProperties: false
      required: [schema, queueId, selectionSha256, approvalReceipt, sourceManifestSha256, validationSha256, approvedPhotoCount, video, components]
      description: >
        Connector attestation of existing weekly approval/source/encoded validation,
        not a server-created approval. The ordered component count must equal
        approvedPhotoCount. Below 12 requires approvedPhotoCountException with
        exact count and approvalReceipt; whenever supplied both must match.
      properties:
        schema: { type: string, const: photosbyelie.campaignVideoBinding.v1 }
        queueId: { type: string, pattern: '^[a-zA-Z0-9][a-zA-Z0-9._:-]{0,255}$' }
        selectionSha256: { $ref: "#/components/schemas/CampaignVideoHash" }
        approvalReceipt:
          type: string
          minLength: 1
          maxLength: 512
          description: Existing relative evidence path or user-message reference; preserved exactly; no leading/trailing whitespace, controls or URLs.
        sourceManifestSha256: { $ref: "#/components/schemas/CampaignVideoHash" }
        validationSha256: { $ref: "#/components/schemas/CampaignVideoHash" }
        approvedPhotoCount: { type: integer, minimum: 1, maximum: 12 }
        approvedPhotoCountException:
          type: object
          additionalProperties: false
          required: [count, receipt]
          properties:
            count: { type: integer, minimum: 1, maximum: 12 }
            receipt: { type: string, minLength: 1, maxLength: 512 }
        video:
          type: object
          additionalProperties: false
          required: [sha256, size, contentType, width, height, durationMilliseconds]
          properties:
            sha256: { $ref: "#/components/schemas/CampaignVideoHash" }
            size: { type: integer, minimum: 12, maximum: 67108864 }
            contentType: { type: string, const: video/mp4 }
            width: { type: integer, const: 1080 }
            height: { type: integer, const: 1920 }
            durationMilliseconds: { type: integer, minimum: 25000, maximum: 35000 }
        components:
          type: array
          minItems: 1
          maxItems: 12
          items:
            type: object
            additionalProperties: false
            required: [assetId, canonicalAssetId, canonicalMediaId, sourceSha256]
            properties:
              assetId: { type: string, pattern: '^[a-zA-Z0-9][a-zA-Z0-9._:-]{0,255}$' }
              canonicalAssetId: { type: string, pattern: '^[a-zA-Z0-9][a-zA-Z0-9._:-]{0,255}$' }
              canonicalMediaId: { type: string, pattern: '^[a-zA-Z0-9][a-zA-Z0-9._-]{0,127}$' }
              sourceSha256: { $ref: "#/components/schemas/CampaignVideoHash" }
    CampaignVideoReceipt:
      type: object
      additionalProperties: false
      required: [schema, ok, slug, queueId, bindingSha256, videoSha256, size, contentType, publicUrl, portraitMp4, state, objectState, createdAt, checkedAt]
      description: Reconciliation evidence, not independent public playback verification; ready iff objectState is verified.
      properties:
        schema: { type: string, const: photosbyelie.campaignVideoReceipt.v1 }
        ok: { type: boolean, const: true }
        slug: { type: string }
        queueId: { type: string }
        bindingSha256: { $ref: "#/components/schemas/CampaignVideoHash" }
        videoSha256: { $ref: "#/components/schemas/CampaignVideoHash" }
        size: { type: integer }
        contentType: { type: string, const: video/mp4 }
        publicUrl: { type: string, pattern: '^https://photos-by-elie\.com/assets/campaign-media/native-[a-z0-9-]+\.mp4$' }
        portraitMp4: { type: string, pattern: '^\./assets/campaign-media/native-[a-z0-9-]+\.mp4$' }
        state: { type: string, enum: [reserved, ready] }
        objectState: { type: string, enum: [absent, verified] }
        createdAt: { type: string, format: date-time }
        checkedAt: { type: string, format: date-time }
        uploadedAt: { type: string, format: date-time }
        etag: { type: string }
    Health:
      type: object
      required: [ok, service]
      properties:
        ok: { type: boolean }
        service: { type: string }
    OwnerTokenBundle:
      type: object
      required:
        [ok, tokenType, accessToken, expiresIn, accessExpiresAt]
      properties:
        ok: { type: boolean }
        tokenType: { type: string, const: Bearer }
        accessToken: { type: string, writeOnly: true }
        expiresIn: { type: integer, const: 900 }
        accessExpiresAt: { type: string, format: date-time }
    OwnerDevice:
      type: object
      required: [id, name, platform, createdAt]
      properties:
        id: { type: string }
        name: { type: string }
        platform: { type: string }
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: [string, "null"], format: date-time }
        revokedAt: { type: [string, "null"], format: date-time }
    OwnerEnrollmentHandoff:
      type: object
      required: [id, state, claimSecret, binding, authorizationURL, expiresAt]
      properties:
        id: { type: string }
        state: { type: string, enum: [pending] }
        claimSecret: { type: string, writeOnly: true }
        binding: { type: string, writeOnly: true }
        authorizationURL: { type: string, format: uri }
        expiresAt: { type: string, format: date-time }
    OwnerEnrollmentClaim:
      type: object
      required: [ok, state, device, deviceCredential]
      properties:
        ok: { type: boolean }
        state: { type: string, enum: [completed] }
        device: { $ref: "#/components/schemas/OwnerDevice" }
        deviceCredential: { type: string, writeOnly: true }
    PBEOwnerSessionCreate:
      type: object
      additionalProperties: false
      required: [fixtureId, fixtureBreadcrumb, sourceIdentity, catalogIdentity, readinessIdentity, fixtureRevision]
      properties:
        fixtureId: { type: string, minLength: 1 }
        fixtureBreadcrumb: { type: string, minLength: 1 }
        sourceIdentity: { type: string, minLength: 1 }
        catalogIdentity: { type: string, minLength: 1 }
        readinessIdentity: { type: string, minLength: 1 }
        fixtureRevision: { type: string, minLength: 1 }
    PBEOwnerSession:
      type: object
      additionalProperties: false
      required:
        [id, state, fixtureId, fixtureBreadcrumb, sourceIdentity, catalogIdentity,
         readinessIdentity, fixtureRevision, capabilities, lifecycleWriter, createdAt, expiresAt]
      properties:
        id: { type: string }
        state: { type: string, enum: [ready, closed] }
        fixtureId: { type: string }
        fixtureBreadcrumb: { type: string }
        sourceIdentity: { type: string }
        catalogIdentity: { type: string }
        readinessIdentity: { type: string }
        fixtureRevision: { type: string }
        capabilities:
          type: array
          items:
            type: string
            enum: [gallery.read, waste-basket.x, waste-basket.restore, fixture.hide, fixture.review, fixture.clear, asset.rating, asset.color]
        lifecycleWriter: { type: string, const: pbb-79-waste-basket }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        closedAt: { type: string }
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: {}
    Page:
      type: object
      required: [hasMore]
      properties:
        nextCursor: { type: [string, "null"] }
        hasMore: { type: boolean }
    ActionState:
      type: string
      enum: [queued, claimed, running, completed, failed, cancelled]
    ActionCreate:
      type: object
      required: [target, actionKind]
      properties:
        target: { type: string }
        actionKind: { type: string }
        payload:
          type: object
          additionalProperties: true
    OwnerAction:
      type: object
      required: [id, target, actionKind, state, createdAt]
      properties:
        id: { type: string }
        target: { type: string }
        actionKind: { type: string }
        state: { $ref: "#/components/schemas/ActionState" }
        payload:
          type: object
          additionalProperties: true
        result:
          type: object
          additionalProperties: true
        createdAt: { type: string, format: date-time }
        claimedAt: { type: [string, "null"], format: date-time }
        completedAt: { type: [string, "null"], format: date-time }
    Progress:
      type: object
      properties:
        phase: { type: string }
        completed: { type: integer, minimum: 0 }
        total: { type: integer, minimum: 0 }
        percent: { type: number, minimum: 0, maximum: 100 }
        detail: { type: string }
    Job:
      type: object
      required: [id, state]
      properties:
        id: { type: string }
        state: { $ref: "#/components/schemas/ActionState" }
        progress: { $ref: "#/components/schemas/Progress" }
