openapi: 3.1.0
info:
  title: PhotosByElie Owner API
  version: 1.0.0
  description: >
    Versioned cloud boundary used by PhotosByElie Backstage. Owner.sqlite and
    Apple Photos remain behind the Max connector; this API authorizes and
    audits opaque actions rather than exposing local persistence directly.
servers:
  - url: https://auth.photos-by-elie.com/api/v1
security:
  - ownerSession: []
tags:
  - name: Authentication
  - name: Actions
  - name: Connectors
  - name: Access
  - name: Sidecar
  - name: Delivery
paths:
  /health:
    get:
      security: []
      operationId: getHealth
      responses:
        "200":
          description: Service health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /auth/session:
    get:
      tags: [Authentication]
      operationId: getAuthSession
      responses:
        "200":
          description: Current signed session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Error"
  /auth/google/login:
    get:
      tags: [Authentication]
      operationId: beginGoogleLogin
      parameters:
        - in: query
          name: returnTo
          schema: { type: string, format: uri }
      responses:
        "302":
          description: Google OAuth redirect
  /auth/tokens:
    post:
      tags: [Authentication]
      operationId: createOwnerTokens
      description: >
        Issues a short-lived bearer token and rotating refresh token. The
        initial request uses an Owner session or an enrolled device credential.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId: { type: string }
                deviceCredential: { type: string, writeOnly: true }
      responses:
        "201":
          description: Native Owner token pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OwnerTokenBundle" }
        "401":
          $ref: "#/components/responses/Error"
  /auth/refresh:
    post:
      tags: [Authentication]
      security: []
      operationId: refreshOwnerTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string, writeOnly: true }
      responses:
        "200":
          description: Rotated native Owner token pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OwnerTokenBundle" }
        "401":
          $ref: "#/components/responses/Error"
  /auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken: { type: string, writeOnly: true }
      responses:
        "200":
          description: Signed out
  /devices:
    get:
      tags: [Authentication]
      operationId: listOwnerDevices
      responses:
        "200":
          description: Enrolled native Owner devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items: { $ref: "#/components/schemas/OwnerDevice" }
    post:
      tags: [Authentication]
      operationId: enrollOwnerDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                platform: { type: string }
      responses:
        "201":
          description: Device enrollment; the credential is returned once
          content:
            application/json:
              schema:
                type: object
                properties:
                  device: { $ref: "#/components/schemas/OwnerDevice" }
                  deviceCredential: { type: string, writeOnly: true }
  /devices/{deviceId}/revoke:
    parameters:
      - in: path
        name: deviceId
        required: true
        schema: { type: string }
    post:
      tags: [Authentication]
      operationId: revokeOwnerDevice
      responses:
        "200":
          description: Device and its refresh tokens revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  device: { $ref: "#/components/schemas/OwnerDevice" }
        "404":
          $ref: "#/components/responses/Error"
  /owner/session:
    get:
      tags: [Authentication]
      operationId: getOwnerSession
      responses:
        "200":
          description: Owner identity and capabilities
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "403":
          $ref: "#/components/responses/Error"
  /actions:
    get:
      tags: [Actions]
      operationId: listActions
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - in: query
          name: state
          schema: { $ref: "#/components/schemas/ActionState" }
        - in: query
          name: target
          schema: { type: string }
        - in: query
          name: actionKind
          schema: { type: string }
      responses:
        "200":
          description: Owner action page
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items: { $ref: "#/components/schemas/OwnerAction" }
                  page: { $ref: "#/components/schemas/Page" }
    post:
      tags: [Actions]
      operationId: createAction
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ActionCreate" }
      responses:
        "202":
          description: Action queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  action: { $ref: "#/components/schemas/OwnerAction" }
        "200":
          description: Existing action replayed for the idempotency key
        "400":
          $ref: "#/components/responses/Error"
  /actions/{actionId}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
    get:
      tags: [Actions]
      operationId: getAction
      responses:
        "200":
          description: Owner action
          content:
            application/json:
              schema:
                type: object
                properties:
                  action: { $ref: "#/components/schemas/OwnerAction" }
        "404":
          $ref: "#/components/responses/Error"
  /actions/{actionId}/{transition}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
      - in: path
        name: transition
        required: true
        schema:
          type: string
          enum: [claim, complete, fail, cancel]
    post:
      tags: [Actions]
      operationId: transitionAction
      description: >
        Owner cancellation is accepted only while an action is queued.
        Connectors cannot cancel actions, and claimed work must reach a
        completed or failed terminal state.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Updated action
  /connectors:
    get:
      tags: [Connectors]
      operationId: listConnectors
      responses:
        "200":
          description: Connector summaries
  /connectors/heartbeat:
    post:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: heartbeatConnector
      responses:
        "200":
          description: Heartbeat accepted
  /connectors/actions:
    get:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: listConnectorActions
      parameters:
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Claimable actions for this connector
  /connectors/actions/{actionId}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
    get:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: getConnectorAction
      responses:
        "200":
          description: Exact connector action
  /connectors/actions/{actionId}/{transition}:
    parameters:
      - $ref: "#/components/parameters/ActionId"
      - in: path
        name: transition
        required: true
        schema:
          type: string
          enum: [claim, complete, fail]
    post:
      tags: [Connectors]
      security: [{ connectorCredential: [] }]
      operationId: transitionConnectorAction
      responses:
        "200":
          description: Updated connector action
  /acs/state:
    get:
      tags: [Access]
      operationId: getAccessState
      responses:
        "200":
          description: People, groups, assignments, roles, fixtures, and audit
  /acs/gallery-access:
    get:
      tags: [Access]
      operationId: getGalleryAccess
      responses:
        "200":
          description: Effective gallery access
  /acs/people:
    post:
      tags: [Access]
      operationId: savePerson
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved person and effective access
  /acs/people/{personId}/disable:
    parameters:
      - in: path
        name: personId
        required: true
        schema: { type: string }
    post:
      tags: [Access]
      operationId: disablePerson
      responses:
        "200":
          description: Disabled person
  /acs/groups:
    post:
      tags: [Access]
      operationId: saveGroup
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved group and effective access
  /acs/groups/{groupId}/archive:
    parameters:
      - in: path
        name: groupId
        required: true
        schema: { type: string }
    post:
      tags: [Access]
      operationId: archiveGroup
      responses:
        "200":
          description: Archived group
  /sidecar/decisions/query:
    post:
      tags: [Sidecar]
      operationId: querySidecarDecisions
      responses:
        "200":
          description: Decision page
  /sidecar/decisions/apply:
    post:
      tags: [Sidecar]
      operationId: applySidecarDecision
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Applied decision
  /sidecar/decisions/apply-batch:
    post:
      tags: [Sidecar]
      operationId: applySidecarDecisionBatch
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Applied decisions
  /real-estate/originals/preflight:
    post:
      tags: [Delivery]
      security:
        - realEstateSession: []
        - ownerSession: []
      operationId: preflightRealEstateOriginals
      description: >
        Checks selected private originals using either the authenticated Real
        Estate gallery session or a Backstage Owner Bearer session. This
        read-only operation creates no download tokens, order records, email,
        or client message. Owner Bearer authorization applies only to this
        preflight and does not authorize download-session creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [galleryKey, items]
              properties:
                galleryKey: { type: string }
                items:
                  type: array
                  minItems: 1
                  maxItems: 300
                  items:
                    type: object
                    required: [photoId, albumSlug]
                    properties:
                      photoId: { type: string }
                      albumSlug: { type: string }
                      sourceFile: { type: string }
                      title: { type: string }
                      sortIndex: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Read-only availability report
          content:
            application/json:
              schema:
                type: object
                required: [preflight]
                properties:
                  preflight:
                    type: object
                    required: [schemaVersion, mode, ok, galleryKey, requestedCount, availableCount, missingCount, items]
                    properties:
                      schemaVersion: { type: integer, enum: [1] }
                      command: { type: string }
                      mode: { type: string, enum: [read-only] }
                      checkedAt: { type: string, format: date-time }
                      ok: { type: boolean }
                      galleryKey: { type: string }
                      requestedCount: { type: integer }
                      availableCount: { type: integer }
                      missingCount: { type: integer }
                      totalBytes: { type: integer }
                      message: { type: string }
                      items:
                        type: array
                        items:
                          type: object
                          required: [photoId, name, contentType, available]
                          properties:
                            photoId: { type: string }
                            name: { type: string }
                            contentType: { type: string }
                            available: { type: boolean }
                            bytes: { type: [integer, "null"] }
        "401":
          $ref: "#/components/responses/Error"
  /deliverables:
    post:
      tags: [Delivery]
      operationId: saveDeliverable
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Saved deliverable
  /deliverables/list:
    post:
      tags: [Delivery]
      operationId: listDeliverables
      responses:
        "200":
          description: Deliverables visible to the session
  /deliverables/{deliverableId}/{action}:
    parameters:
      - in: path
        name: deliverableId
        required: true
        schema: { type: string }
      - in: path
        name: action
        required: true
        schema:
          type: string
          enum: [view, download, complete, fail]
    get:
      tags: [Delivery]
      operationId: getDeliverableAsset
      responses:
        "200":
          description: Streamed deliverable asset
    post:
      tags: [Delivery]
      operationId: transitionDeliverable
      responses:
        "200":
          description: Updated deliverable
  /delivery-links:
    post:
      tags: [Delivery]
      operationId: createDeliveryLinks
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Opaque share links
  /jobs:
    post:
      tags: [Delivery]
      operationId: submitRenderJob
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Render job queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { $ref: "#/components/schemas/Job" }
  /jobs/{jobId}:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: string }
    get:
      tags: [Delivery]
      operationId: getRenderJob
      responses:
        "200":
          description: Render job and progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { $ref: "#/components/schemas/Job" }
components:
  securitySchemes:
    ownerSession:
      type: http
      scheme: bearer
      bearerFormat: PBE signed owner session
    connectorCredential:
      type: http
      scheme: bearer
      bearerFormat: PBE connector credential
    realEstateSession:
      type: apiKey
      in: cookie
      name: pbe_re_session
  parameters:
    ActionId:
      in: path
      name: actionId
      required: true
      schema: { type: string }
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Cursor:
      in: query
      name: cursor
      schema: { type: string }
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 160
  responses:
    Error:
      description: Structured API error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    Health:
      type: object
      required: [ok, service]
      properties:
        ok: { type: boolean }
        service: { type: string }
    OwnerTokenBundle:
      type: object
      required:
        [ok, tokenType, accessToken, expiresIn, accessExpiresAt, refreshToken, refreshExpiresAt]
      properties:
        ok: { type: boolean }
        tokenType: { type: string, const: Bearer }
        accessToken: { type: string, writeOnly: true }
        expiresIn: { type: integer, const: 900 }
        accessExpiresAt: { type: string, format: date-time }
        refreshToken: { type: string, writeOnly: true }
        refreshExpiresAt: { type: string, format: date-time }
    OwnerDevice:
      type: object
      required: [id, name, platform, createdAt]
      properties:
        id: { type: string }
        name: { type: string }
        platform: { type: string }
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: string }
        revokedAt: { type: string }
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: {}
    Page:
      type: object
      required: [hasMore]
      properties:
        nextCursor: { type: [string, "null"] }
        hasMore: { type: boolean }
    ActionState:
      type: string
      enum: [queued, claimed, running, completed, failed, cancelled]
    ActionCreate:
      type: object
      required: [target, actionKind]
      properties:
        target: { type: string }
        actionKind: { type: string }
        payload:
          type: object
          additionalProperties: true
    OwnerAction:
      type: object
      required: [id, target, actionKind, state, createdAt]
      properties:
        id: { type: string }
        target: { type: string }
        actionKind: { type: string }
        state: { $ref: "#/components/schemas/ActionState" }
        payload:
          type: object
          additionalProperties: true
        result:
          type: object
          additionalProperties: true
        createdAt: { type: string, format: date-time }
        claimedAt: { type: [string, "null"], format: date-time }
        completedAt: { type: [string, "null"], format: date-time }
    Progress:
      type: object
      properties:
        phase: { type: string }
        completed: { type: integer, minimum: 0 }
        total: { type: integer, minimum: 0 }
        percent: { type: number, minimum: 0, maximum: 100 }
        detail: { type: string }
    Job:
      type: object
      required: [id, state]
      properties:
        id: { type: string }
        state: { $ref: "#/components/schemas/ActionState" }
        progress: { $ref: "#/components/schemas/Progress" }
